.home-main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  background-image: url("https://image.winudf.com/v2/image/Y29tLmtpcmFuZ29nYXIuY2hpZGl5YXVkZGdhbWVfc2NyZWVuXzBfMTUzNDM2OTY2N18wNjg/screen-0.jpg?fakeurl=1&type=.jpg");
}
.home-box {
  height: fit-content;
  width: 40%;
  background-color: #00000029;
  border-radius: 10px;
  margin-top: 15%;
  box-shadow: 0px 0px 14px 6px #527a3b;
  text-align: center;
}
.box-header {
  font-family: fangsong;
  height: 72px;
  padding-top: 20px;
  font-feature-settings: "pcap";
  font-variant: petite-caps;
  align-items: center;
  font-size: 23px;
  font-style: revert;
  color: #4c7d2f;
  text-shadow: 1px 1px #527a3b;
}
.box-menu-Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.box-memu-card-div {
  height: 100px;
  width: 114px;
  border: 1px solid;
  background-color: #527a3b;
  border-radius: 22px;
  color: white;
  padding: 10px;
  margin-right: 5px;
}
.pairs-button {
  background-color: transparent;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  font-size: 20px;
  font-style: revert;
  font-family: fangsong;
  font-variant: petite-caps;
  text-shadow: 1px 1px #527a3b;
  cursor: pointer;
}
.game-box {
  height: fit-content;
  width: 60%;
  background-color: #00000029;
  border-radius: 10px;
  margin-top: 7%;
  box-shadow: 0px 0px 14px 6px #527a3b;
  text-align: center;
}
.game-box-first {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.image-slider-main {
  height: 200px;
  width: 250px;
  border-radius: 10px;
  background-color: teal;
}
.box-user {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: #527a3b;
  padding: 5px;
  margin-right: 12px;
}
.game-box-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.third-user {
  margin-top: 35px;
}
.fourth-user {
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 0;
}
.third-user-btn {
  background: transparent;
  height: 56px;
  width: 56px;
  color: white;
  border-radius: 50px;
  margin-right: 5px;
  margin-top: 20px;
}

.first-user-btn {
  background: transparent;
  height: 56px;
  width: 56px;
  color: white;
  border-radius: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
}
.second-user-btn {
  background: transparent;
  height: 56px;
  width: 56px;
  color: white;
  border-radius: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
}
.third-user-btn {
  background: transparent;
  height: 56px;
  width: 56px;
  color: white;
  border-radius: 50px;
  margin-right: 5px;
  margin-top: 20px;
}
.fourth-user-btn {
  background: transparent;
  height: 56px;
  width: 56px;
  color: white;
  border-radius: 50px;
  margin-right: 5px;
  margin-top: 20px;
}
.five-user-btn {
  background: transparent;
  height: 56px;
  width: 56px;
  color: white;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 10px;
}
.six-user-btn {
  background: transparent;
  height: 56px;
  width: 56px;
  color: white;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.yes-no-button {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: transparent;
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
